<div class="row">
    <div class="col s12" style="padding-bottom: 40px;">
        <ul class="tabs teal lighten-5 blue-grey-text">
            <li class="tab col s3"><a href="/reports">Progress Reports</a></li>
            <li class="tab col s3"><a href="/chat">Chat</a></li>
            <li class="tab col s3"><a href="/calendar">Calendar</a></li>
            <li class="tab col s3"><a href="/feedback">Feedback</a></li>
        </ul>
    </div>
</div>

<div class="row center">
    <h2 class="grey-text text-lighten-3" style="font-size: 70px;">Teacher-Con</h2>
</div>

<div class="row center grey-text text-lighten-3">
    <div class="col s12">Student Name: </div>
    <div class="col s12">{{name}}</div>
</div>

<div class="row center grey-text text-lighten-3">
    <table class="bordered">

        <thead>
        <tr>
            <th>Subject</th>
            <th>Grade</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>Math</td>
            <td>{{math}}</td>
        </tr>
        <tr>
            <td>Reading</td>
            <td>{{reading}}</td>
        </tr>
        <tr>
            <td>Social Studies</td>
            <td>{{socialstudies}}</td>
        </tr>
        <tr>
            <td>Science</td>
            <td>{{science}}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <br>
</div>
<div class="row center grey-text text-lighten-3" style="margin-bottom: 20px;">
    <table>
        <thead>
        <tr>
            <th>Average: </th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{average}}</td>
        </tr>
        </tbody>
    </table>
</div>